.gallery {

  width: 100%;
  margin: 100px 0;

  h2 {

    background-color: #202020 ;
    padding: 32px;
    color: #fff;
  }

  .containerGallery {

    display: grid;
    gap: 20px;
    width: 100%;
    background-color: #151515;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 32px;

  }
}
