.link_gallery, .btn_submit {

  width: 100%;
  text-align: center;
  background-image: linear-gradient(left,#D72121, #0073ee5d );
  border: none;
  border-radius: 16px;
  padding: 12px 0;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;

}

.btn_register {

  background-color: transparent;
  border-radius: 16px;
  border: solid 2px #fff;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 14px;

}

.viewMore {

  background-color: transparent;
  border-radius: 16px;
  border: solid 2px #fff;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 14px;
  cursor: pointer;

}

.close_modal {

  background-color: #fff;
  border-radius: 16px;
  border: none;
  color: #202020;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 14px;
  cursor: pointer;

}
